[submodule "intercept"]
	path = intercept
	url = https://github.com/intercept/intercept.git
[submodule "ArmaScriptCompiler"]
	path = ArmaScriptCompiler
	url = https://github.com/dedmen/ArmaScriptCompiler.git
